body{
    background-color: lightblue;
    margin: 1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "header nav nav"
                         "main main aside"
                       "footer footer footer";
}
header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em;
    grid-area: header;
}
    .uni{
        font-size: 12pt;
        font-family: 'Courier New', Courier, monospace;
    }
    .name{
        font-size: 16pt;
        font-family: 'Courier New', Courier, monospace;
    }

     nav{
        grid-area: nav;
        font-size: 15pt;
        font-weight: bold;
        text-align: center;
        padding: 2em;

        }


    li{
        
        display: block;
        float: left;
        width: 20%;
     }
    li a{
        text-decoration: none;
        color: darkblue;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    main{
    background-color: lightgray;
    color:darkblue;
    padding: 4em;
    grid-area: main;
}
main h1{
    text-align: center;
    font-weight:bold;
    font-size: 25pt;
    margin: 1em;
    
}
.text{
    text-align: left;
    font-size: 15pt;
}
    .box{
    height:100%;
    margin: 2em;

    }
    .email{
        height: 50%;
        margin: 2em;
    }
    .submit{
    
        margin: 2em;
    }

aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
    color: darkblue;
    padding: 1em;
    text-align: left;
}

.contact{
    font-size: 16pt;
    text-align: center;
}
form{
    display: grid;
    width: 500px;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0.4em;
    padding: 2em;
}
.menu{
    padding:1em;
    margin: 1em;
}
.message{
    padding: 2em;
}
.hear{
    padding: 0em;
    margin: 0%;
}
.eye{
    width: 100%;
    height: 100%;
}
.web{
    height: 38%;
    width: 38%;
    border-radius: 30%;
    margin: 1em;
}
.game{
    height: 38%;
    width: 38%;
    border-radius: 30%;
    margin: 1em;
}
.database{
    height: 38%;
    width: 38%;
    border-radius: 30%;
    margin: 1em;
    
}
.project{
    height: 38%;
    width: 38%;
    border-radius:30%;
    margin: 1em;

}
.portfolio{
    background-color: lightblue;
    margin: 1em;
    padding: 1em;
    font-size: 13pt;
}
h3{
    font-weight: bold;
    text-align: center;
}
.next{
    background-color: lightblue;
    color: darkblue;
    font-size: 15pt;

}
h4{
    padding: 1em;
    font-size: 13pt;

}
.programming{

    font-size: 13pt;
}
article{
    padding: 1em;
    font-size: 13pt;
}
.blog{
    height: 100%;
    width: 100%;
    border-radius: 30%;
}
.contactpage{
    height: 50%;
    width: 50%;
    border-radius: 30%;
    float: right
}
.reporting{
    text-align: center;
}
   



