body{
    background-image:url(background.jpg);

    
}
header{

    font-weight: bold;
    
    
}
header>p{
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
}
    .uni{
        font-size: 12pt;
        font-family: 'Courier New', Courier, monospace;
        
    }
    

     nav{
        
        
        font-weight: bold;

        }

    li a{
        text-decoration: none;
        color: black;
    }
    .logo{
        width: 100%;
        height: 100%;
    }
    main{
        background-color: lightgray;
    color:darkblue;
    font-size: 15pt;
    }   

.portfolio{
    background-color: lightblue;
    border-radius: 10%;
}
h1{
    text-align: center;
    font-weight:bold;
    
    
}
h2{
    text-align: center;
}


footer{
    
    color: black
    text-align: left;
}

.contact{
    font-size: 16pt;
    text-align: center;
}

.menu{
    padding:1em;
    margin: 1em;
}


h3{
    font-weight: bold;
    text-align: center;
    color: darkblue;
}

h4{
    padding: 1em;
    font-size: 13pt;
    color: darkblue;

}
aside>p{
    font-size: 13pt;
    
    color: darkblue;
    font-weight: bold;
}
article{
    padding: 1em;
    font-size: 13pt;
}
.blog{
    height: 100%;
    width: 100%;
    border-radius: 30%;
}
.contactpage{
    height: 50%;
    width: 50%;
    border-radius: 30%;
    float: right
}
.reporting{
    text-align: center;
}
   



