body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
    "nav"
    "main"
    "aside"
    "footer";
}
.siterep{
display: grid;
grid-template-columns:100%;
grid-template-rows: auto;
grid-template-areas: "header"
"nav"
"main"
"footer";
}
.on{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}
.on:before{
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}
main{

    font-size: 12pt;
}
h1{
    font-size: 15pt;
}
h2{
    font-size: 12pt;
}
aside>p{
    font-size: 12pt;
}
.web{
    height: 27%;
    width: 27%;
    border-radius: 30%;
    padding: 0.5em;
}
form{
    display: grid;
    width: 200px;
    grid-template-columns:auto;
    align-items: center;
    grid-gap: 0.4em;
}
nav{
    display: block;
    background-color: lightsteelblue;
    font-size: 13pt;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding: 8%;
}
header a{
    color:white;
}
    #click .on {display: block;}
    #click .off {display: none;}
    #click:target .on {display: none;}
    #click:target .off {display: block;}

    #click:target nav{
    display: block;
    transform: none;
}
.text{
   padding: 1em; 
}
.validator{
    height: 30%;
    width: 60%;
    border-radius: 20%;
}
.process{
    background-color: lightsteelblue;
    font-size: 12pt;
    text-align: left;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio{
    font-size: 12pt;
}
.index{
    font-size: 14pt;
    background-color: lightsteelblue;
}
.section1{
    padding: 3%;
    background-color: darkgoldenrod;
    font-size: 12pt;
}
.section2{
    padding: 3%;
    background-color:darkcyan;
    font-size: 12pt;
}
.section3{
    padding: 3%;
    background-color:lightcoral;
    font-size: 12pt;
}
.contactpage{
    height: 25%;
    width: 50%;
    border-radius: 20%;
    float: right;
}
footer{
    padding: 8%;
}
.blog{
    padding: 1em;
}


